body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    overflow: hidden;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.image {
    width: calc(10% - 40px); /* Ajusta el porcentaje según el número de columnas deseado */
    margin: 10px;
    height: 180px;
    background-size: cover;
    background-position: center;
    /* transform: rotateY(45deg) rotateX(10deg);
    transition: transform 0.5s; */
}

.image:hover {
    transform: rotateY(0deg) rotateX(0deg) scale(1.1);
}
